USE [master]
GO
/****** Object:  Database [HRMS]    Script Date: 18-07-2020 21:09:07 ******/
CREATE DATABASE [HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HRMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HRMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMS]
GO
USE [HRMS]
GO
/****** Object:  Table [dbo].[tblClient]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [varchar](50) NOT NULL,
	[CLIENT_NAME] [varchar](50) NOT NULL,
	[CLIENT_DESC] [varchar](250) NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployees]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
	[ROLE] [varchar](20) NULL,
	[CITY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoliday]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoliday](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOLIDAY_NAME] [varchar](50) NOT NULL,
	[HOLIDAY_TYPE] [varchar](50) NOT NULL,
	[HOLIDAY_DATE] [datetime] NOT NULL,
	[HOLIDAY_DAY] [varchar](10) NOT NULL,
	[HOLIDAY_DESC] [varchar](250) NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
	[CITY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLeaves]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeaves](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[LEAVE_TYPE] [varchar](50) NOT NULL,
	[LEAVE_STATUS] [varchar](50) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[IS_HALFDAY] [varchar](10) NOT NULL,
	[REMARK] [varchar](250) NULL,
	[NUMBER_DAYS] [float] NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NULL,
 CONSTRAINT [PK_tblLeaves] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProject]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [varchar](50) NOT NULL,
	[PROJECT_NAME] [varchar](50) NOT NULL,
	[CLIENT] [int] NOT NULL,
	[PROJECT_DESC] [varchar](250) NOT NULL,
	[PRIORITY] [varchar](50) NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTask]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_ID] [varchar](50) NOT NULL,
	[TASK_SUMMARY] [varchar](100) NOT NULL,
	[TASK_DESC] [varchar](500) NOT NULL,
	[TASK_TYPE] [varchar](10) NOT NULL,
	[PRIORITY] [varchar](10) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[ESTIMATED_HOURS] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[ASSIGNED_EMP] [int] NOT NULL,
	[END_DATE] [datetime] NULL,
	[DUE_DATE] [datetime] NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaskHistory]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaskHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_COMMENTS] [varchar](500) NOT NULL,
	[TASK_ID] [int] NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserMaster]    Script Date: 18-07-2020 21:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[EMAIL_ID] [varchar](50) NULL,
	[MOBILE_NUMBER] [varchar](50) NULL,
	[USER_IMAGE] [varchar](50) NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDON] [datetime] NULL,
	[UPDATEDBY] [int] NULL,
	[UPDATEDON] [datetime] NULL,
	[STATUS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblClient] ON 

INSERT [dbo].[tblClient] ([ID], [CLIENT_ID], [CLIENT_NAME], [CLIENT_DESC], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (1, N'CLT_1', N'DELL LLP', N'DELL SERVICES', NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[tblClient] ([ID], [CLIENT_ID], [CLIENT_NAME], [CLIENT_DESC], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (3, N'CLT_3', N'CLIENT TEST', N'TEST', NULL, NULL, NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[tblClient] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployees] ON 

INSERT [dbo].[tblEmployees] ([ID], [FIRST_NAME], [LAST_NAME], [USER_NAME], [EMAIL], [PASSWORD], [EMP_ID], [PHONE_NUMBER], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [ROLE], [CITY]) VALUES (6, N'Manjunath', N'K', N'MK', N'JAI_MANJUNATH', N'MANJU@123', 1000, N'9999999999', NULL, NULL, NULL, NULL, N'A', N'ADMIN', N'BANGALORE')
INSERT [dbo].[tblEmployees] ([ID], [FIRST_NAME], [LAST_NAME], [USER_NAME], [EMAIL], [PASSWORD], [EMP_ID], [PHONE_NUMBER], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [ROLE], [CITY]) VALUES (1007, N'Manjunath', N'K', N'MK', N'JAI_MANJUNATH', N'MANJU@1234', 1000, N'9999999999', NULL, NULL, NULL, NULL, N'A', N'ADMIN', N'CHENNAI')
INSERT [dbo].[tblEmployees] ([ID], [FIRST_NAME], [LAST_NAME], [USER_NAME], [EMAIL], [PASSWORD], [EMP_ID], [PHONE_NUMBER], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [ROLE], [CITY]) VALUES (1008, N'Jai', N'Manjunath', N'JM', N'JAI5MANJUNATH', N'Test@123', 9, N'9999999999', NULL, NULL, NULL, NULL, N'A', N'EMPLOYEE', NULL)
SET IDENTITY_INSERT [dbo].[tblEmployees] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoliday] ON 

INSERT [dbo].[tblHoliday] ([ID], [HOLIDAY_NAME], [HOLIDAY_TYPE], [HOLIDAY_DATE], [HOLIDAY_DAY], [HOLIDAY_DESC], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [CITY]) VALUES (2, N'Ugadi', N'MANDATORY', CAST(N'2020-06-28T00:00:00.000' AS DateTime), N'Sunday', N'Test', NULL, NULL, NULL, NULL, N'A', NULL)
INSERT [dbo].[tblHoliday] ([ID], [HOLIDAY_NAME], [HOLIDAY_TYPE], [HOLIDAY_DATE], [HOLIDAY_DAY], [HOLIDAY_DESC], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [CITY]) VALUES (3, N'Onam', N'MANDATORY', CAST(N'2020-07-22T00:00:00.000' AS DateTime), N'Wednesday', N'Onam', NULL, NULL, NULL, NULL, N'A', N'COCHI')
INSERT [dbo].[tblHoliday] ([ID], [HOLIDAY_NAME], [HOLIDAY_TYPE], [HOLIDAY_DATE], [HOLIDAY_DAY], [HOLIDAY_DESC], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS], [CITY]) VALUES (4, N'Shiva rathri', N'MANDATORY', CAST(N'2019-02-05T00:00:00.000' AS DateTime), N'Tuesday', N'Shiva rathri', NULL, NULL, NULL, NULL, N'A', N'COCHI')
SET IDENTITY_INSERT [dbo].[tblHoliday] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLeaves] ON 

INSERT [dbo].[tblLeaves] ([ID], [EMP_ID], [LEAVE_TYPE], [LEAVE_STATUS], [START_DATE], [END_DATE], [IS_HALFDAY], [REMARK], [NUMBER_DAYS], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (7, 1009, N'PERSONAL LEAVE', N'SUBMITTED', CAST(N'2020-07-14T00:00:00.000' AS DateTime), CAST(N'2020-07-16T00:00:00.000' AS DateTime), N'NO', N'Test', 2, 1009, CAST(N'2020-07-18T20:07:44.003' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblLeaves] ([ID], [EMP_ID], [LEAVE_TYPE], [LEAVE_STATUS], [START_DATE], [END_DATE], [IS_HALFDAY], [REMARK], [NUMBER_DAYS], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (8, 1009, N'PERSONAL LEAVE', N'SUBMITTED', CAST(N'2020-07-21T00:00:00.000' AS DateTime), CAST(N'2020-07-24T00:00:00.000' AS DateTime), N'NO', N'Test', 3, 1009, CAST(N'2020-07-18T20:09:14.380' AS DateTime), NULL, NULL, N'A')
INSERT [dbo].[tblLeaves] ([ID], [EMP_ID], [LEAVE_TYPE], [LEAVE_STATUS], [START_DATE], [END_DATE], [IS_HALFDAY], [REMARK], [NUMBER_DAYS], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (9, 1009, N'CASUAL LEAVE', N'SUBMITTED', CAST(N'2020-07-13T00:00:00.000' AS DateTime), CAST(N'2020-07-15T00:00:00.000' AS DateTime), N'NO', N'Casual Leave', 2, 1009, CAST(N'2020-07-18T20:14:13.797' AS DateTime), NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[tblLeaves] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProject] ON 

INSERT [dbo].[tblProject] ([ID], [PROJECT_ID], [PROJECT_NAME], [CLIENT], [PROJECT_DESC], [PRIORITY], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (1, N'CLI_1', N'DELL PROJECT', 1, N'DELL APPLICATION DEVELOPMENT', N'TRIVIAL', NULL, NULL, NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[tblProject] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTask] ON 

INSERT [dbo].[tblTask] ([ID], [TASK_ID], [TASK_SUMMARY], [TASK_DESC], [TASK_TYPE], [PRIORITY], [PROJECT_ID], [ESTIMATED_HOURS], [START_DATE], [ASSIGNED_EMP], [END_DATE], [DUE_DATE], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (8, N'T1', N'Create New Login page in web application', N'1. Create new user logon page <b> 2. create login', N'TASK', N'HIGH', 1, 14, CAST(N'2020-06-08T00:00:00.000' AS DateTime), 6, CAST(N'2020-06-11T00:00:00.000' AS DateTime), CAST(N'2020-06-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'I')
INSERT [dbo].[tblTask] ([ID], [TASK_ID], [TASK_SUMMARY], [TASK_DESC], [TASK_TYPE], [PRIORITY], [PROJECT_ID], [ESTIMATED_HOURS], [START_DATE], [ASSIGNED_EMP], [END_DATE], [DUE_DATE], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (9, N'T2', N'TEST2 Updated', N'TEST2', N'BUG', N'MEDIUM', 1, 5, CAST(N'2020-06-07T00:00:00.000' AS DateTime), 1007, CAST(N'2020-06-10T00:00:00.000' AS DateTime), CAST(N'2020-06-11T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'D')
INSERT [dbo].[tblTask] ([ID], [TASK_ID], [TASK_SUMMARY], [TASK_DESC], [TASK_TYPE], [PRIORITY], [PROJECT_ID], [ESTIMATED_HOURS], [START_DATE], [ASSIGNED_EMP], [END_DATE], [DUE_DATE], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (10, N'T1', N'TEST', N'TEST', N'TASK', N'HIGH', 1, 14, CAST(N'2020-06-07T00:00:00.000' AS DateTime), 6, CAST(N'2020-06-10T00:00:00.000' AS DateTime), CAST(N'2020-06-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'D')
SET IDENTITY_INSERT [dbo].[tblTask] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTaskHistory] ON 

INSERT [dbo].[tblTaskHistory] ([ID], [TASK_COMMENTS], [TASK_ID], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (1, N'This is my first comments', 8, 6, CAST(N'2020-07-05T15:04:42.183' AS DateTime), 6, NULL, N'A')
INSERT [dbo].[tblTaskHistory] ([ID], [TASK_COMMENTS], [TASK_ID], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (2, N'This is my second comment.This is my second comment This is my second commentThis is my second comment.', 8, 6, CAST(N'2020-07-05T15:07:45.543' AS DateTime), 6, CAST(N'2020-07-05T15:07:45.543' AS DateTime), N'A')
INSERT [dbo].[tblTaskHistory] ([ID], [TASK_COMMENTS], [TASK_ID], [CREATEDBY], [CREATEDON], [UPDATEDBY], [UPDATEDON], [STATUS]) VALUES (3, N'Test', 8, 1008, CAST(N'2020-07-05T00:00:00.000' AS DateTime), 1008, CAST(N'2020-07-05T00:00:00.000' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[tblTaskHistory] OFF
GO
ALTER TABLE [dbo].[tblProject]  WITH CHECK ADD  CONSTRAINT [FK_Client] FOREIGN KEY([CLIENT])
REFERENCES [dbo].[tblClient] ([ID])
GO
ALTER TABLE [dbo].[tblProject] CHECK CONSTRAINT [FK_Client]
GO
ALTER TABLE [dbo].[tblTask]  WITH CHECK ADD  CONSTRAINT [FK_AssignedEmp] FOREIGN KEY([ASSIGNED_EMP])
REFERENCES [dbo].[tblEmployees] ([ID])
GO
ALTER TABLE [dbo].[tblTask] CHECK CONSTRAINT [FK_AssignedEmp]
GO
ALTER TABLE [dbo].[tblTask]  WITH CHECK ADD  CONSTRAINT [FK_Project] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[tblProject] ([ID])
GO
ALTER TABLE [dbo].[tblTask] CHECK CONSTRAINT [FK_Project]
GO
ALTER TABLE [dbo].[tblTaskHistory]  WITH CHECK ADD  CONSTRAINT [FK_Task] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[tblTask] ([ID])
GO
ALTER TABLE [dbo].[tblTaskHistory] CHECK CONSTRAINT [FK_Task]
GO
USE [master]
GO
